:root {
    --color1: #DAA520;
    --color2: #fff;
}

body {
    font-family: 'Philosopher', sans-serif;
    overflow-x: hidden;
}


header,
footer,
section {
    padding: 100px 0;
}

header {
    padding: 50px 0px 900px;
}

header {
    /* height: 100vh; */
    height: 1200px;
    background: url(../img/bg-header2.jpg), var(--color1);
    background: url(../img/bg-header2.jpg), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-header2.jpg), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-header2.jpg), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: url(../img/bg-header2.jpg), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: cover;
}



.nav__icon {
 position: relative;
}

.navbar a p {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color1);
    font-size: 20px;
}

.first__text {
    color: var(--color1);
}

.nav__title {
    color: var(--color2);
    font-size: 24px;
    line-height: 1.1;
    padding: 0;
    margin: 0;
    font-weight: 700;
}


.navbar {
    border: 1px solid #DAA520;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: var(--color2);

    transition: color .2s linear,
                border-bottom .2s linear;
}

.nav-link:hover {
    color: var(--color1);
    border-bottom: 1px solid #DAA520;
}
.nav {
    top: -100px;
    left: 0;
  
    z-index: 10;
    transition: all .2s ease;
}

.navbar1 {
    display: none;
    position: relative;
    position: fixed;
    background-color: var(--color1);
    padding: 1vh 0;
}
.burger-title {
    position: absolute;
    top: 8px;
    left: 221px;
}
.burger-title h2 {
    margin: 0;
}

.burger {
    display: none;
    position: absolute;
    position: fixed;
    top: 47.88px;
    left: 0;
    z-index: 10000;
    width: 190px;
    height: 288px;
    background-color: var(--color1);
    font-size: 18px;
    line-height: 1.1;
    animation: burger .5s linear;
}
@keyframes burger {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.icon-close {
    position: absolute;
    top: 12px;
    right: 15px;

}

.icon-close i {
    font-size: 18px;
    color: var(--color2);
    cursor: pointer;
}

.burger ul li a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.burger ul {
    padding: 15px 15px;

}
.burger-link {
    margin-bottom: 10px;
    transition: color .2s linear;
}
.burger-link:hover {
    color: #121214;
}


@media (max-width: 889px) {
    .nav {
        display: flex;
    }
    .nav-link {
        padding: 5px 10px;
    }
    
}

@media (max-width: 815px) {
    .nav {
         display: none; 
    }

    .navbar1{
         display: flex; 
     } 
 }  

.nav.fixed {
    position: fixed;
    
    transform: translateY(100px);
    width: 100%;
    background-color: var(--color1);
}
.navbar1.fixed {
    position: fixed;
    
    transform: translateY(100px);
    width: 100%;
    background-color: var(--color1);
}
.fixed a:hover {
    border: none;
    color: #121214;
}

.col-md-6 {
    display: flex;
    justify-content: space-between;
}

.header-text {
    color: var(--color2);
    border: 1px solid var(--color1);
    border-radius: 8px;
    padding: 50px;
}

.header-about {
    /* padding-top: 200px; */
}

.nav-right {
    display: block;
    position: fixed;
    z-index: 1000;
    top: center;
    color: #fff;
    left: 0;
}

.nav-right ul li {
    list-style: none;

}
.nav-right ul {
    padding: 0;
}
.icon i{
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #DAA520;
    border-radius: 50%;


    transition: background-color .2s linear,
                border .2s linear;
}
.icon i:hover {
    background-color: black;
    color: #DAA520;
}


/* EARTH WORK */

.font-size {
    font-size: 20px;
}

.earth-work {
    background-color: #121214;
}

.earth-title {
    color: var(--color2);
    margin-bottom: 80px;
}
.col-12 p {
    color: var(--color2);
}
.col-12 ul, ol {
    color: var(--color1);
}

.slide {
    max-width: 500px;
    margin: 20px auto 0;
}

.earth-text {
    margin-top: 50px;
    color: var(--color2);
}

.btn-navigation {
    text-decoration: none;
    color: inherit;
}
.btn-navigation:hover {
    color: #DAA520;
}

/* OURS WORK */

.ours-work {
    /* height: 100vh; */
    background: url(../img/bg-header.jpg), var(--color1);
    background: url(../img/bg-header.jpg), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-header.jpg), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-header.jpg), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: url(../img/bg-header.jpg), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: cover;
    padding-bottom: 20px;
}

.ours-text {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
}
.ours-text p {
    margin: 0;
}

.slides {
    display: flex;
}

.slide-img {
  height: 60vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}

.slide-img.active {
    flex: 10
  }

.col-12 h3 {
    color: var(--color2);
}
  
.example {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}

/* BUILDING WORK */

.building-work {
    /* height: 100vh; */
    background-color: #121214;
}

.img-fluid {
    width: 500px;
}

/* PRICE */

.price {
    /* height: 100vh; */
    background: url(../img/bg-price.jpg), var(--color1);
    background: url(../img/bg-price.jpg), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-price.jpg), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-price.jpg), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: url(../img/bg-price.jpg), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: cover;
}

.line {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed var(--color1);
    text-transform: uppercase;
}
.span-white {
    color: var(--color2);
}

/* CONTACTS */

.contacts {
    background-color: #121214;
}

.border-line {
    padding: 20px;
    border: 1px dashed var(--color1);
}


.consultation {
    /* background-color: #121214; */
    background: url(../img/bg-price.jpg), var(--color1);
    background: url(../img/bg-price.jpg), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-price.jpg), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/bg-price.jpg), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: url(../img/bg-price.jpg), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: cover;
}

.form-label {
    color: #fff;
    font-size: 20px;
}

.btn-primary {
    background-color: var(--color1);
    border: none;
    transition: background-color .2s linear;
}
.btn-primary:hover {
    background-color: #b48717;
}